[submodule "crates/hjkl-buffer"]
	path = crates/hjkl-buffer
	url = https://github.com/kryptic-sh/hjkl-buffer.git
[submodule "crates/hjkl-clipboard"]
	path = crates/hjkl-clipboard
	url = https://github.com/kryptic-sh/hjkl-clipboard.git
[submodule "crates/hjkl-editor"]
	path = crates/hjkl-editor
	url = https://github.com/kryptic-sh/hjkl-editor.git
[submodule "crates/hjkl-engine"]
	path = crates/hjkl-engine
	url = https://github.com/kryptic-sh/hjkl-engine.git
[submodule "crates/hjkl-form"]
	path = crates/hjkl-form
	url = https://github.com/kryptic-sh/hjkl-form.git
[submodule "crates/hjkl-picker"]
	path = crates/hjkl-picker
	url = https://github.com/kryptic-sh/hjkl-picker.git
[submodule "crates/hjkl-ratatui"]
	path = crates/hjkl-ratatui
	url = https://github.com/kryptic-sh/hjkl-ratatui.git
[submodule "crates/hjkl-bonsai"]
	path = crates/hjkl-bonsai
	url = https://github.com/kryptic-sh/hjkl-bonsai.git
[submodule "crates/hjkl-config"]
	path = crates/hjkl-config
	url = https://github.com/kryptic-sh/hjkl-config.git
