[submodule "crates/hjkl-editor"]
	path = crates/hjkl-editor
	url = https://github.com/kryptic-sh/hjkl-editor.git
[submodule "crates/hjkl-engine"]
	path = crates/hjkl-engine
	url = https://github.com/kryptic-sh/hjkl-engine.git
[submodule "crates/hjkl-form"]
	path = crates/hjkl-form
	url = https://github.com/kryptic-sh/hjkl-form.git
[submodule "crates/hjkl-picker"]
	path = crates/hjkl-picker
	url = https://github.com/kryptic-sh/hjkl-picker.git
[submodule "crates/hjkl-ratatui"]
	path = crates/hjkl-ratatui
	url = https://github.com/kryptic-sh/hjkl-ratatui.git
[submodule "crates/hjkl-bonsai"]
	path = crates/hjkl-bonsai
	url = https://github.com/kryptic-sh/hjkl-bonsai.git
[submodule "crates/hjkl-vim"]
	path = crates/hjkl-vim
	url = https://github.com/kryptic-sh/hjkl-vim.git
[submodule "crates/hjkl-ex"]
	path = crates/hjkl-ex
	url = https://github.com/kryptic-sh/hjkl-ex.git
[submodule "crates/hjkl-picker-tui"]
	path = crates/hjkl-picker-tui
	url = https://github.com/kryptic-sh/hjkl-picker-tui.git
[submodule "crates/hjkl-theme-tui"]
	path = crates/hjkl-theme-tui
	url = https://github.com/kryptic-sh/hjkl-theme-tui.git
[submodule "crates/hjkl-mangler"]
	path = crates/hjkl-mangler
	url = https://github.com/kryptic-sh/hjkl-mangler.git
[submodule "crates/hjkl-editor-tui"]
	path = crates/hjkl-editor-tui
	url = https://github.com/kryptic-sh/hjkl-editor-tui.git
